
@font-face {
    font-family: Kalpurush;
    src: url(kalpurush.ttf);
}      


	  .footer {
                 left: 0;
            bottom: 0;
            width: 100%;
            color: #ccc;
            text-align: center;
        }
		
        body{
         font-family: Kalpurush;
		  background-image: linear-gradient(to bottom right, #450102 , #f3013c, #450102 );
         min-height: 100vh;
        }

        @font-face {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
        }